<mat-sidenav-container #offsetWidth class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [ngClass]="{hidden: !(isHandset | async)}"
    fixedInViewport="true"
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="'side'"
    [opened]="getOpened()">
    <mat-toolbar fxLayoutAlign="center center" color="primary">AgroTerenas</mat-toolbar>
    <mat-nav-list>
      <!-- <a fxLayoutAlign="home" mat-list-item routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </a>
      <a fxLayoutAlign="home" mat-list-item href="#">
        <mat-icon>assessment</mat-icon>
        Gráficos
      </a> -->
      <a fxLayoutAlign="dashboard" mat-list-item routerLink="/dashboard">
        <!-- <mat-icon>assignment</mat-icon> -->
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar style="position: fixed; z-index: 9;" color="primary">
      <!-- <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset | async)">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button> -->
      <span>AgroTerenas</span>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
