.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 220px;
  box-shadow: 3px 0 6px rgb(0, 0, 0, .24);
  border: 0px;
}

/* .sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
} */

.mat-toolbar.mat-primary {
  background-color: green;
}