<div class="grid-container" style="padding: 30px">

  <!-- <mat-grid-list cols="5" rowHeight="200px" >
    <mat-grid-tile  class="divcls" *ngFor="let frente of frentes">
  
       <mat-card  fxLayoutWrap="wrap" fxLayout="column" fxFlex="10%" fxLayoutGap="16px">
        <mat-card-title>Frente : {{frente.id}}</mat-card-title>
        <mat-card-content>{{frente.caminhao}}</mat-card-content>
         <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
        </mat-card>
         
  
    </mat-grid-tile>
  </mat-grid-list> -->

  <mat-grid-list style="margin-top: 20px; padding-bottom: 30px" cols="5" rowHeight="250px">
    <mat-grid-tile class="divcls" *ngFor="let frente of frentes">
      <mat-card>
        <mat-card-title>Frente : {{ frente.id }}</mat-card-title>
        <!-- <mat-card-content>Caminhão: {{ frente.caminhao }}</mat-card-content> -->
        <mat-card-actions>
          <button mat-button>Tempo: </button>
          <button *ngIf="frente.id == 1" mat-button>{{ frente1 }}</button>
          <button *ngIf="frente.id == 2" mat-button>{{ frente2 }}</button>
          <button *ngIf="frente.id == 3" mat-button>{{ frente3 }}</button>
          <button *ngIf="frente.id == 4" mat-button>{{ frente4 }}</button>
          <button *ngIf="frente.id == 5" mat-button>{{ frente5 }}</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <table mat-table [dataSource]="frentes" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
    </ng-container>

    <ng-container matColumnDef="caminhao">
      <th mat-header-cell *matHeaderCellDef> Caminhao </th>
      <td mat-cell *matCellDef="let element"> {{ element.caminhao }} </td>
    </ng-container>

    <ng-container matColumnDef="distancia">
      <th mat-header-cell *matHeaderCellDef> Distância </th>
      <td mat-cell *matCellDef="let element"> {{ element.distancia }} </td>
    </ng-container>

    <ng-container matColumnDef="enchimento">
      <th mat-header-cell *matHeaderCellDef> Enchimento </th>
      <td mat-cell *matCellDef="let element"> {{ element.enchimento }} </td>
    </ng-container>

    <ng-container matColumnDef="prioridade">
      <th mat-header-cell *matHeaderCellDef> Prioridade </th>
      <td mat-cell *matCellDef="let element"> {{ element.prioridade }} </td>
    </ng-container>

    <ng-container matColumnDef="proximo">
      <th mat-header-cell *matHeaderCellDef> Próximo </th>
      <td mat-cell *matCellDef="let element"> {{ element.proximo }} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="info.saida">
      <th mat-header-cell *matHeaderCellDef> Horário de saída </th>
      <td mat-cell *matCellDef="let element"> {{ element.info.saida }} </td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- <table mat-table [dataSource]="caminhoes" class="mat-elevation-z8">

    <ng-container matColumnDef="placa">
      <th mat-header-cell *matHeaderCellDef> Placa </th>
      <td mat-cell *matCellDef="let element"> {{ element.placa }} </td>
    </ng-container>
  
    <ng-container matColumnDef="frente">
      <th mat-header-cell *matHeaderCellDef> Frente </th>
      <td mat-cell *matCellDef="let element"> {{ element.frente }} </td>
    </ng-container>
  
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{ element.status }} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>   -->
</div>