body {
  padding: 2%;
  padding-top: 75px;
}

.grid-container {
  margin: 20px;
  height: 1200px;
  /* padding-left: 200px; */
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

table {
  width: 100%;
}

